@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}


.container{
	margin-top: 60px;
	margin-left: 90px;
}

.form-control{
	padding: 6px 8px;
	width: 40%;
}

#myBtn{
	margin-top: 8px;
}

.btn{
	padding: 6px;
	background: none;
	cursor: pointer;
}

.btn-outline-danger{
	color: #ff0000;
	border: 2px solid #ff0000;
	border-radius: 4px;
	transition: 0.3s;
}

.btn-outline-danger:hover{
	color: #ffffff;
	background: #ff0000;
}

.btn-outline-success{
	color: #008000;
	border: 2px solid #008000;
	border-radius: 4px;
	transition: 0.3s;
}

.btn-outline-success:hover{
	color: #ffffff;
	background: #008000;
}

.text-danger{
	color: #ff0000;
}

.msg{
	border: 2px solid #ff0000;
	margin-bottom: 3px;
	display: none;
	margin-right: 58.5%;
	padding: 6px;
	border-radius: 4px;
}

.text-success{
	color: green;
}